<div class="text-center m-5">
    <main class="form-signin">
        <form autocomplete="off" #formLogin="ngForm" (ngSubmit)="formLogin.form.valid && getUsernameAndPassword()" novalidate>
          <img class="mb-4" src="../assets/user.png" alt="" width="120" height="120">
          <h1 class="h3 mb-3 fw-normal">Login</h1>
      
          <div class="form-floating">
            <input type="input" 
                   class="form-control" 
                   id="username" 
                   placeholder="Username" 
                   name="username" 
                   #username="ngModel" 
                   [(ngModel)]="infoUser.username"
                   required>
            <label for="floatingUser">Username</label>
          </div>
          <div class="form-floating">
            <input type="password" 
                   class="form-control" 
                   id="password" 
                   placeholder="Password" 
                   name="password" 
                   #username="ngModel" 
                   [(ngModel)]="infoUser.password"
                   required>
            <label for="floatingPassword">Password</label>
          </div>
      
          <div  class="checkbox mb-3">
            <div *ngIf="statusResponse" class="alert alert-danger" role="alert">
              {{ messageError }} 
            </div>
          </div>

          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
        </form>
      </main>
</div>



