<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" >Carlos Reina</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0"> 
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/outstanding']">Pendientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/loans']">Pagados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/client']" >Clientes</a>
        </li>
      </ul>
      <form class="d-flex">
        <button type="button" class="btn btn-warning" (click)="logout()">Salir</button>
      </form>
    </div>
  </div>
</nav>


<!--   <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li lass="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/loans']" >Pestamos</a>
          </li>
          <li lass="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/client']" >Clientes</a>
          </li>
        </ul>

        <div class="text-end">
          <button type="button" class="btn btn-warning" [routerLink]="['/login']">Salir</button>
        </div>
      </div>
    </div>
  </header> -->
