<app-navbar></app-navbar>
<br><br>
<figure class="text-center m-3">
    <blockquote class="blockquote">
      <h1>Registro de Préstamos (Pendientes)</h1>
    </blockquote>
</figure>

<div class="container m-5 p-3">

        <div class="row">
            <div class="col-4">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    + Agregar nuevo prestamo
                </button>
            </div>
            <div class="col-4">
                
            </div>
            <div class="col-3">
                <input type="text" 
                            class="form-control" 
                            id="fullnametext" 
                            name="fullnametext"
                            #fullnametext="ngModel" 
                            [(ngModel)]="search.fullname" >
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-block btn-danger" (click)="getAllLoan(1)">
                    Buscar
                </button>
            </div>
        </div>

    <br>
    <br> 
    <table class="table table-bordered">
    <thead class="table-secondary">
        <tr>
            <th class="text-center">Identificacion</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Capital</th>
            <th class="text-center">Abono</th>
            <th class="text-center">Pendiente</th>
            <th class="text-center">Intereses</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody *ngFor="let loan of listLoan; let i = index;">
        <tr>
            <td class="text-center"> {{ loan.client }} </td>
            <td class="text-center"> {{ loan.name }} </td>
            <td class="text-center"> {{ loan.borrowedValue | currency: 'USD' : 'symbol' : '1.0-0' }} </td>
            <td class="text-center"> {{ loan.paidValue | currency: 'USD' : 'symbol' : '1.0-0' }} </td>
            <td class="text-center"> {{ loan.pendingValue | currency: 'USD' : 'symbol' : '1.0-0' }} </td>
            <td class="text-center"> {{ loan.interestPaid | currency: 'USD' : 'symbol' : '1.0-0' }} </td>
            <td class="text-center">
                <span *ngIf="loan.idStatus == 1" span class="badge bg-success"> {{ loan.status }}</span>
                <span *ngIf="loan.idStatus == 2" span class="badge bg-warning text-dark">{{ loan.status }}</span>
            </td>
            <td class="text-center">
                <a class="text-danger action" (click)="getDetailLoans(loan.id)">
                    <i class="fas fa-eye fa-lg m-1"></i>
                </a>
                <a class="text-success action" data-bs-toggle="modal" data-bs-target="#paymentModal" (click)="getFee(loan.id)">
                    <i class="fas fa-money-bill-alt fa-lg m-1"></i>
                </a>
            </td>
        </tr>
    </tbody>
    </table>
    <div class="text-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" (click)="firstPosition()" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item" *ngFor="let item of pagination">
                  <a class="page-link" (click)="filterPagination(item)">{{ item }}</a>
              </li>
              <li class="page-item">
                <a class="page-link" (click)="lastPosition()" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
        </nav>
    </div>
    
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <form autocomplete="off" #formLoans="ngForm" (ngSubmit)="formLoans.form.valid && createLoan()" novalidate>
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Información del Préstamo</h5>
            <button type="button" class="btn-close" #closebutton1 data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                <label for="cliente" class="col-form-label"><b>Cliente:</b></label>
                <select id="identificationClient" 
                        name="identificationClient" 
                        #identificationClient="ngModel" 
                        [(ngModel)]="records.identificationClient" 
                        class="form-select text-center" aria-label="Default select example">
                    <option *ngFor="let client of listClient" [value]="client.identification">
                        {{ client.identification }} - {{ client.fullname }}
                    </option>
                </select>
                </div>
                <div class="mb-3">
                <label for="message-text" class="col-form-label"><b>Valor Prestamo:</b></label>
                <input type="number" 
                        class="form-control text-center" 
                        id="borrowedValue" 
                        name="borrowedValue" 
                        #borrowedValue="ngModel" 
                        [(ngModel)]="records.borrowedValue"
                        required>
                </div>
                <div class="mb-3">
                <label for="message-text" class="col-form-label"><b>Valor Interes (%):</b></label>
                <input type="number" 
                        class="form-control text-center" 
                        id="interestPercentage" 
                        name="interestPercentage" 
                        #interestPercentage="ngModel" 
                        [(ngModel)]="records.interestPercentage"
                        required>
                </div>
                <div class="checkbox mb-3 text-center">
                    <div *ngIf="statusResponse" class="alert alert-danger" role="alert">
                    {{ messageError }} 
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
    </div>
</div>

<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <form autocomplete="off" #formPayment="ngForm" (ngSubmit)="formPayment.form.valid && createPayment()" novalidate>
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="paymentModalLabel">Información del Pago</h5>
            <button type="button" class="btn-close" #closebutton2 data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="message-text" class="col-form-label"><b>Nombre:</b></label>
                    <input type="text" 
                            class="form-control text-center" 
                            id="fullname" 
                            name="fullname" 
                            [value]="name"
                            disabled>
                </div>
                <div class="mb-3">
                    <label for="abono" class="col-form-label"><b>Tipo:</b></label>
                    <select id="idType" 
                            name="idType" 
                            #identificationClient="ngModel" 
                            [(ngModel)]="payment.idType"
                            class="form-select text-center"
                            (ngModelChange)="selectType($event)">
                        <option *ngFor="let type of listTypes" [value]="type.id">
                            {{ type.id }} - {{ type.name }}
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                <label for="message-text" class="col-form-label"><b>Abono a Capital:</b></label>
                <input type="number" 
                        class="form-control text-center" 
                        id="capital" 
                        name="capital" 
                        #borrowedValue="ngModel" 
                        [(ngModel)]="payment.capital"
                        [disabled]="disableCapital"
                        required>
                </div>
                <div class="mb-3">
                <label for="message-text" class="col-form-label"><b>Interes:</b></label>
                <input type="number" 
                        class="form-control text-center" 
                        id="interest" 
                        name="interest" 
                        #interestPercentage="ngModel" 
                        [(ngModel)]="payment.interest"
                        [disabled]="disableInterest"
                        required>
                </div>
                <div class="checkbox mb-3 text-center">
                    <div *ngIf="statusResponse" class="alert alert-danger" role="alert">
                    {{ messageError }} 
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
    </div>
</div>